<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Engines</title>
</head>
<body>
    <%- include("partials/header") %>
    <div>Name - <%= name %></div>
    <ul>Fruits - 
        <% fruits.forEach(fruit => {%>
            <li><%=fruit%></li>
        <%}); %>
    </ul>
    <%- include('partials/footer') %>
</body>
</html>