@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Martel Sans", sans-serif;
    font-size: clamp(min(1vw, 1vh), min(2vw, 2vh), min(3vw, 3vh));
}

body {
    background-color: black;
}

.top-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1;
}

.top-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Resources/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(0.25);
    z-index: -2;
}

.logo {
    width: min(20vw, 20vh);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    position: absolute;
    top: 0px;
    left: 10vw;
    padding-top: 30px;
}

@media (max-width:400px) {
    nav {
        flex-direction: column;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.language-button,
.sign-in {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 2px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    padding: 6px 15px;
    gap: 4px;
}

.language-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0.01em solid gray;
}

.sign-in,
.get-started {
    background-color: red;
    color: white;
    border: none;
}

.sign-in:hover,
.get-started:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.744);
}

.mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
}

.email-address {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    width: 20vh;
    max-width: 30vw;
    filter: opacity(0.4);
    border: 1px solid gray;
}

.email-address::placeholder {
    color: white;

}

.get-started {
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: max(1.5vw, 1.5vh);
    font-weight: 600;

}

.trending-now-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-now {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.top-5 {
    position: relative;
}

.top-5 img {
    border-radius: 10px;
    height: clamp(max(20vw, 20vh), max(20vw, 20vh), max(25vw, 25vh));
}

.top-5 span {
    font-size: max(5vh, 5vw);
    position: absolute;
    left: -5px;
    bottom: -10px;
    color: black;
    font-weight: 700;
    -webkit-text-stroke: 1px white;
}

.more-reasons-to-join {
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.more-reasons-to-join span {
    font-weight: 700;
    font-size: min(5vw, 5vh);
}

.reasons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reason {
    background: radial-gradient(circle at bottom left, #2a0030, #0a0a23);
    padding: 20px;
    border-radius: 10px;
}

.reason-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.reason-content {
    width: 30rem;
}

.reason svg {
    align-self: center;
}

.faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.faqs span {
    font-size: 2.5rem;
    background-color: black;
    font-weight: 700;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 45, 45);
    padding: min(3vh, 3vw);
    font-size: 2rem;
    width: 80vw;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0px 10vw;
    gap: 10px;
}

a{
    font-size: 15px;
    color: rgb(189, 181, 181);
}